.loader {
  margin: 10px 0;
  text-align: center;
}

input, textarea {
  border-bottom: 3px solid #6a6fc5 !important;
}

.card-header {
  border-radius: inherit;
  background-color: #6a6fc5;
  color: #ffffff;
}

.card-header h2 {
  margin: 0;
}

label {
  color: #6a6fc5;
}

input {
  border: none;
  background: none;
}

input:focus {
  color: #000000;
}
input:read-only {
  background-color: gray;
}

.personal-information button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #000000;
  color: #ffffff;
}

.message {
  display: none;
  color: #000000;
}
