.menu a {
  color: #ffffff !important;
  cursor: pointer;
}

.navbar {
  z-index: 9999;
  padding: 5px 15px;
  border-bottom: 1px solid white;
  margin-bottom: 0;
  background: #6a6fc5;
}

.navbar-brand {
  font-size: 18px;
}

.toggled {
  left: 0 !important;
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 60px 0 0;
  background: #6a6fc5;
  transition: 0.5s;
}

.sidebar-menu {
  overflow: auto;
  height: calc(100vh - 48px);
  text-align: start;
}

.sidebar-dropdown-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s;
}

.sidebar-dropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar-dropdown-menu a {
  padding: 5px 5px 5px 25px;
  text-decoration: none;
}

.toggled-on {
  max-height: 10em;
}

@media (max-width: 991px) {
  .navbar {
    padding: 10px !important;
  }

  .navbar-menu {
    flex-basis: 100%;
  }

  .navbar-nav {
    align-items: center;
  }

  .dropdown-menu {
    position: fixed !important;
    right: 0;
    left: 0;
    top: 53px;
  }

  .sidebar {
    width: 100%;
    left: -100%;
    padding: 100px 0 0;
  }
}

.navbar-nav .dropdown-menu {
  overflow: auto!important;
  max-height: 270px!important;
}

.dropdown span:first-child {
  pointer-events: none;
}

.icon {
  font-size: 20px;
}

.dropdown-item span {
  display: block;
}

.created_at {
  margin-top: 5px;
  font-size: 13px;
  color: #4e555b;
}
