.navbar {
  background: #393939;
}

a {
  color: #ffffff !important;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
}

.profile-button {
  background: #55555f;
  color: #ffffff;
  margin-right: 5px;
}

.logout {
  background: #ffffff;
  color: #314666;
}

.toggled {
  display: block !important;
}

.toggled-on {
  display: block !important;
}

.dropdown-menu a {
  color: black !important;
}

.removed-dropdown-toggle:after {
  display: none;
}

.dropdown span:first-child {
  pointer-events: none;
}

@media (max-width: 991px) {
  .navbar-nav {
    align-items: center;
  }

  .dropdown-menu {
    position: fixed !important;
    right: 0;
    left: 0;
    top: 53px;
  }
}

.dropdown-menu {
  overflow: auto;
  max-height: 270px;
}

.dropdown span:first-child {
  pointer-events: none;
}

.icon {
  font-size: 18px;
}
