.posts {
  overflow: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.show-modal {
  margin-bottom: 10px;
}

.like-system button {
  padding-top: 10px;
  border: none;
  background: none;
  font-size: 18px;
}
