.posts {
  overflow: auto;
}

.create-post {
  margin-bottom: 20px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.check {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.edited {
  color: dimgray;
  font-size: 11px;
}
