.posts {
  overflow: auto;
}

.create-post {
  margin-bottom: 20px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.check {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.edited {
  color: dimgray;
  font-size: 11px;
}

.comment {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .card .btn {
    font-size: 11px !important;
  }

  .card-title {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }
  .card-text {
    font-size: 13px !important;
  }
}
